.DivConteudo a{
    overflow: auto;
}

.DivConteudo a::-webkit-scrollbar { 
display: none;
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(36, 71, 117);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
  }
  .btton{
    position: absolute;
    width: 150px;
    float: right;
    right: 15px;
    top:10px;
}
.alertPost{
  position: absolute;
  top: 75px;
  width: 80%;
}


/** bootrap **/
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}